/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Lato:300|PT+Serif:400);

body {  margin: 0px; padding: 10px; }

.marquee {
    font-size: 16px;
    height: 425px;
    max-width: 1200px;
    border: 1px solid #ccc;
    margin: 0 auto 20px auto ;
}

.marquee .marquee_data{
    display: none;
}




